tr td.name{
    width: 60px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

tr td{

    width: 30px;
    height: 70px;
    background: #ffe48d;

}
tr td.checkBox{
    width: 60px;
}
tr td.checked {

    background: gray;

}
